.header{
    .nav{
        position: fixed;
        width: 100vw;
        background-color: #222222;
        z-index: 2;
        .navMenu{
            display: inline-block;
            .menu{
                cursor: pointer;
                background-color: #222222;
                color: aliceblue;
                padding: .5rem;
                font-size: 1.5rem;
                border: none;
            }

            &:hover .drop-menu{
                display: block;
            }
            
            .drop-menu{
                display: none;
                position: absolute;
                background-color: #222;
                width: 100vw;
                a{
                    margin-left: 2rem;
                    border-top: 2px solid rgba(146, 146, 146, 0.521);
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: aliceblue;
                    &:hover{
                        color: rgb(238, 74, 74);
                        border-top: 2px solid rgb(238, 74, 74);
                    }
                }
            }
        }
    }
}