@import "config";
@import "header";
@import "content";
@import "nav";
@import "responsive";

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to left, rgba(34, 34, 34, 0.541), rgba(42, 42, 158, 0.514)), url("https://lh3.googleusercontent.com/JMJYxCDDl-x9aLlG7MKMuPoeoWqc-hH04XZl-Q1Vlw4YPOI0gV73BmT64ZiYHKmZOaslT0XrOaw1n95By8YkKufsk5kDw5mx1WFyGsvGlj0uTnxTzNnBPQlQpCIEhad_TjjW57BbPP_OoKxNI29VbIfC1LnRuzib-CaaSL21kt20znZ7iEI9wemEIdURkB0D00IDnf0Dg1ZPU7V-QlzzzEg2ZSys6OlTTFf1VAa1TmPU9zPda1AXz3giw0x1iZ2jPuha4MOsX4peNSpwhyIrI7dRiq_ZDU5EuwbwkzImukqTkPEn_GUUAqFhKR-0VSXYe664D8NMH6ydgC3uayy_tZDIHv6Uid8thijH8Q5X6KbTeizt3OTP02hU9U9eprR744p61ms3RTNvejDAJztGuSqRZSZN-QBJFaPili9DPPbvcOiLhjkPahPm8U7nJOfWeVuHjLAcFCB_3KpDFMMZejqOEgziB4aEWs0KJzS-GrLkEa6VQhVNT-PJnxwZhy2ii0tChYkOm0rjj9wc-nlLK2zDPSOZ0wIDzLCPQfX1hX8xV2FKn0MTHVyOEi9xHSo7FaHDUB_5ACF50L3rWkPpwrDw0oYeZPstWxg_QIM13hsgLVGsKQ5uWJ7SGN_7thnkkUxzU1vdEgd42Q1yOFN0LDJeOq8nnja5hTFPZUDe6w70yDtk5pbTscbxErhtUA=w960-h450-no?authuser=0");
    background-attachment: fixed;
    .main{
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        font-family: 'Josefin Sans', sans-serif;
        .footer{
            img{
                border-radius: 50%;
            }
            a{
                font-size: 2rem;
                text-decoration: none;
                color: #222;
                &:hover{
                    color: rgb(240, 64, 64);
                }
            }
    
        }
    }
}